@font-face {
    font-family: 'Montserrat-Regular';
    src: url('/static/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('/static/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url('/static/fonts/Montserrat/Montserrat-Thin.ttf');
}

.card-style {
    margin-bottom: 2rem;
}

.card-style .card-header {
    font-family: Montserrat-SemiBold;
    font-size: Large;
    background-color: whitesmoke;
}

.card-high {
    color: red;
}

.card-normal {
    color: orange;
}

.card-low {
    color: green;
}

.card-date {
    font-family: Montserrat-Thin;
    font-size: medium;
}

.card-text {
    font-family:Montserrat-Regular;
    font-size: medium;
}