@font-face {
    font-family: 'Yellowtail';
    src: url('/static/fonts/Yellowtail/Yellowtail-Regular.ttf');
}

.nav-style {
    background-color: #2d2d2d;
}

.nav-brand-font {
    font-family: Yellowtail;
    font-size: xx-large;
}