{% extends 'todolist_app/main.html' %}

{% block content %}

<div class="container">

    <h3>Incomplete Tasks:</h3>
    <hr>

    {% if incomplete_tasks %}
        <div class="container-fluid">
            {% for task in incomplete_tasks %}
                <div class="card card-style shadow">
                    <div class="card-header {% if task.priority == 'High' %} card-high {% elif task.priority == 'Normal' %} card-normal {% else %} card-low {% endif %}">
                        {{ task.priority }}
                        <div class="buttons justify-content-between">
                            <a href="" class="btn btn-small btn-success shadow">Completed Task</a>
                            <a href="" class="btn btn-small btn-primary shadow">Update Task</a>
                            <a href="" class="btn btn-small btn-danger shadow">Delete Task</a>
                        </div>
                    </div>
                    <div class="card-body justify-content-between">
                        <h5>{{ task.task_name }}</h5>
                    </div>
                    <div class="card-body">
                        <p>Task Created on: {{ task.date_created }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>You finished all your incomplete tasks! Pat yourself on the back! :)</p>
    {% endif %}

    <h3>Completed Tasks:</h3>
    <hr>
    {% if completed_tasks %}
        <div class="container-fluid">
            {% for task in completed_tasks %}
            <div class="card card-style">
                <div class="card-header">
                    {{ task.priority }}
                </div>
                <div class="card-body">
                    <h5>{{ task.task_name }}</h5>
                </div>
                <div class="card-body">
                    <p>Task Completed on: {{ task.date_created }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>You don't have any completed tasks. It's never too late to start!</p>
    {% endif %}

</div>

{% endblock %}